#headBar {
  background-color: #12232e;
  color: #4da8da;
}

.logout {
  color: red;
}
#sell-button {
  border-color: #F1B24A;
  border-radius: 20px;
  border-width: 0.5em;
  background-color: #4da8da;
  color: #12232e;
}
