

#container{
	display: grid;
    place-items: center;
}

#form{
    max-width: fit-content;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}